# Requirements for the project

# NumPy: A fundamental package for scientific computing with Python.
numpy==1.23.1

# Matplotlib: A comprehensive library for creating static, animated, and interactive visualizations in Python.
matplotlib==3.5.2